.screen{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJnC5SY0X9G-aMW6dp1gkjzAxMMqZLwyysOA&usqp=CAUps://www.iconspng.com/image/135184/cross-on-treasure-map');
background-size: cover;
height: 720px;
border:solid blue;
}

.buttons{
background-color: red;
border-width: 3px;
border-radius: 60%;
border-color: red;
height:15px;
position:relative;
}

#finish{
   position:absolute;
   top:22%;
   left: 40%
}
#one{
    position:absolute;
    top:40%;
    left: 3%
} 
#two{
    position:absolute;
    top: 24.5%;
    left: 12%
}
#three{
    position:absolute;
    top:22%;
    left: 53%
}
#four{
    position:absolute;
    top:22%;
    left: 53%
}
#five{
    margin-left: 4%;
}