.screen{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJnC5SY0X9G-aMW6dp1gkjzAxMMqZLwyysOA&usqp=CAUps://www.iconspng.com/image/135184/cross-on-treasure-map');
background-size: cover;
height: 720px;
border:solid blue;
}
.buttons:hover{
    background:red;
    color:white;
}
.buttons{
    padding:5px;
    background-color: red;
    border-radius: 60%;
    border-width: 3px;
    border-color:brown;

/*;


border-color: red;
height:15px;
position:relative;*/
}


#finish{
    position:absolute;
    top:22%;
    left: 40%
}
#start{
    position:absolute;
    top:40%;
    left: 2%;
    background-color: green;
    color:aliceblue;
} 
#one{
    position:absolute;
    top: 24.5%;
    left: 12%
}
#two{
    position:absolute;
    top:38%;
    left: 25%
}
#three{
    position:absolute;
    top:60%;
    left: 35%
}
#four{
    position:absolute;
    top:44%;
    left: 49%
}
#restart{
    position:absolute;
    top:2%;
    left: 3%;
    background-color:brown;
    color:aliceblue;
}